.setting-checkbox-wrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 20px;
  width: 20px;
  border-radius: 4px;
  display: grid;
  place-content: center;
  border: 0.15em solid var(--buttons);
  outline: none;
  cursor: pointer;
}

.setting-checkbox-wrapper input:checked {
  background-color: var(--buttons);
  position: relative;
}

.setting-checkbox-wrapper input:hover {
  background-color: var(--buttons-hover);
}

.setting-checkbox-wrapper input:checked::before {
  content: "✔";
  font-size: 20px;
  color: var(--text);
}

.setting-checkbox-wrapper input[type="checkbox"]:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}