.settings-dropdown {
  position: relative;
  display: inline-block;
  width: 50%;
}

.settings-dropdown-preview {
  border-radius: 4px !important;
}

.settings-dropdown-list {
  display: block;
  position: absolute;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  z-index: 1;
}

.settings-dropdown-item:first-of-type {
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

.settings-dropdown-item:last-of-type {
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.settings-dropdown-item {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.settings-dropdown-item:hover {
  background-color: var(--buttons-hover);
}
