.node-editor-row + .node-editor-row {
  margin-top: 1rem;
}

.node-editor-row {
  width: 400px;
}

.node-editor-title,
.node-editor-name {
  width: 100%;
  display: block;
  background-color: #12494c;
  border: none;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 5px;
}

#create-new-action:hover {
  background-color: hsla(93, 100%, 49%, 0.5);
}

.node-editor {
  border: #000000 solid 3px;
  border-radius: 10px;
  padding: 10px;
}

.node-editor label {
  background: none;
}

.node-editor-io {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.node-editor-button {
  background: none !important;
  border-radius: 7px;
  padding: 5px;
  border: none;
  width: 100%;
}

.node-editor-button:focus {
  outline: none;
  box-shadow: none;
}

.node-editor-button:hover {
  background-color: hsla(0, 0%, 50%, 0.3) !important;
}

.node-editor-io-entry + .node-editor-io-entry{
  margin-top: .3em;
}

.node-editor-io-entry {
  border-radius: 7px;
  padding: 5px;
  display: grid;
  grid-template-columns: auto 20px;
}

.node-editor-io-entry:hover {
  background-color: hsla(0, 0%, 50%, 0.3);
}

.node-editor-io-entry:hover .node-editor-io-delete{
  display:inline-block;
}

.node-editor-io-delete:hover{
  display:inline-block;
  background-color: hsla(0, 100%, 50%, 0.75) !important;
}

.node-editor-output {
  text-align: right;
}

.node-editor-input {
  text-align: left;
}

.node-editor-io-name {
  text-align: left !important;
  font-size: medium !important;
}

.node-editor-io-delete {
  text-align: center !important;
  background: none !important;
  border-radius: 7px !important;
  border: none;
  display: none;
  background-color: hsla(0, 100%, 50%, 0.25) !important;
  height: 20px;
  width: 20px;
}