.button-container {
    width: 600px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.node-button {
    color: #ffffff;
    width: 100px;
    height: 30px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 2px;
    font-size: 16px;
}

.node-button:hover {
    background-color: 'black',
}

.node-header-container {
    display: flex;
    align-items: center;
}

.action-buttons {
    margin-left: 10px;
    display: flex;
}

.node-action-button {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: black;
    border: 0;
}

.node-action-button:hover {
    background-color: rgba(255, 255, 255, 0.264);
    border-radius: 50%; /* Circular highlight */
}

