.Header-text {
  font-family: "Spline Sans Mono", sans-serif;
  color: var(--text);
}

.jde-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.project-name-box {
  display: flex;
  flex-direction: column;
  background-color: none; /* Transparent background */
  color: var(--text);
  padding: 10px;
  justify-content: center;
  /* Other styling as needed */
}

.project-name {
  font-weight: bold;
}

.small-text {
  font-size: 0.7rem; /* Adjust the size as needed */
}

.header-button-container {
  display: flex;
  width: 85%;
  justify-content: flex-end;
  align-items: center;
}

.header-button {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: var(--header);
  border: 0;
  margin-left: 6px;
  margin-right: 6px;
  padding: 0 0 0 0;
  align-content: center;
  flex-wrap: wrap;
}

.header-button:hover {
  background-color: var(--buttons-hover);
  border-radius: 50%; /* Circular highlight */
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

/* Header bar */
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: var(--header) !important;
  box-shadow: none !important;
}
