#project-modal {
  width:50%;
  height:75%;
}

.project-entry-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    overflow-y: auto;
    max-height: 60vh;

    --g:radial-gradient(50% 20px, #0009, #0000);  
    background: 
      linear-gradient(#12494c 10px, #0000 40px calc(100% - 40px),#12494c calc(100% - 10px)) local, 
      var(--g) top   /100% 200%,    
      var(--g) bottom/100% 200%;
}

/* width */
.project-entry-list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.project-entry-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.project-entry-list::-webkit-scrollbar-thumb {
  background: #2f9da3;
  border-radius: 10px;
}

.project-entry {
  width: 75%;
  height: 3rem;
  min-height: 3rem;
  background-color: #226d72;
  padding: 5px;
  align-items: center;
  color: white;
}

.project-entry:hover {
  background-color: #2f9da3;
}

.project-entry + .project-entry {
  margin-top: 2px;
}

.project-entry:first-of-type {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.project-entry:last-of-type {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-modal-creation-buttons-container {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 48px);
    justify-content: center;
    column-gap: 20px;
}

.project-modal-create-button {
    height: 45px;
    width: 175px;
    padding: 15px;
    border-radius: 10px;
    background-color: #226d72;
    color: white;
    font-weight: 600;
    text-align: center;
    user-select: none;
}

.project-modal-create-button:hover {
    background-color: #2f9da3;
}
