#error-modal {
  background-color: var(--error-bg) !important;
  border-color: var(--error-border) !important;
}

#warning-modal {
  background-color: var(--warning-bg) !important;
  border-color: var(--warning-border) !important;
  & .bt-modal-contents {
    & .bt-modal-titlebar {
      color: var(--bt-dark-text) !important;
    }
  }
}

#info-modal {
  background-color: var(--background) !important;
  border-color: var(--buttons) !important;
}

.bt-error-modal-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.bt-error-modal-button {
  height: 45px;
  width: 175px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--error-button);
  color: var(--text);
  font-weight: 600;
  text-align: center;
  user-select: none;

  &:hover {
    background-color: var(--error-button-hover) !important;
  }
}

.bt-warning-modal-button {
  height: 45px;
  width: 175px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--warning-button);
  color: var(--bt-dark-text);
  font-weight: 600;
  text-align: center;
  user-select: none;

  &:hover {
    background-color: var(--warning-button-hover) !important;
  }
}

.bt-info-modal-button {
  height: 45px;
  width: 175px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--buttons);
  color: var(--text);
  font-weight: 600;
  text-align: center;
  user-select: none;

  &:hover {
    background-color: var(--buttons-hover) !important;
  }
}

.bt-modal-error-label {
  color: var(--text);
  font-weight: 600;
  text-align: center;
}

.bt-modal-warning-label {
  color: var(--bt-dark-text);
  font-weight: 600;
  text-align: center;
}

.bt-modal-info-label {
  color: var(--text);
  font-weight: 600;
  text-align: center;
}
