.basic-title {
    font-weight: bold;
}

.basic-right-ports {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -10px;
}

.basic-left-ports {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
}

.basic-children-port {
    margin-right: -15px;
    margin-left: 5px;
}

.basic-parent-port {
    margin-right: 5px;
    margin-left: -15px;
}

.basic-placeholder {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.basic-layer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}