.title {
    font-weight: bold;
}

.right-ports {
    display: flex;
    flex-direction: column;
}

.left-ports {
    display: flex;
    flex-direction: column;
}

.placeholder {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: -4px;
    margin-right: 5px;
}

.layer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tag-node {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: blueviolet;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
}

.parent-only {
    padding-right: 10px;
}

.children-only {
    padding-left: 10px;
}

.basic {
    padding-left: 10px;
    padding-right: 10px;
}