/* InputPort.css */

.bt-tag-output-port {
  width: 10px;
  height: 10px;
  background: var(--border-color);
}

.bt-tag-output-container {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: -5px;
}
