/* InputPort.css */

.bt-tag-input-port {
  width: 10px;
  height: 10px;
  background: var(--border-color);
}

.bt-tag-input-container {
  display: inline-flex;
  align-items: center;
  margin-left: -4px;
  margin-right: 5px;
}
