.progress-bar-container {
  height: 20px;
  background-color: var(--progress-bar-bg);
  border-radius: 50px;
}

.progress-bar-filler {
  height: 100%;
  background-color: var(--progress-bar-progress);
  border-radius: inherit;
  text-align: right;
}

.progress-bar-percentage {
  padding: 5px;
  color: var(--text);
  font-weight: bold;
}
