/* InputPort.css */

.output-port-widget {
    width: 10px;
    height: 10px;
    background: black;
}
  
.output-label {
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
  
.output-container {
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 4px;
    margin-right: -5px;
}
  