.bt-node-header-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: left;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  background-color: var(--control-bar);
}

.bt-action-buttons {
  margin-right: 10px;
  display: flex;
}

.bt-node-action-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--control-bar);
  border: 0;
  align-self: center;
  margin: 0 2px 0 2px;
}