/* ConnectionPort.css */

.port-widget {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    margin-top: 5px;
}
  
.port-widget.port-children {
    margin-left: 5px;
    margin-right: -5px;
}
  
.port-widget.port-parent {
    margin-left: -5px;
    margin-right: 5px;
}
  