/* FileEditor.css */

.bt-editor-container {
  position: relative; /* Establish a stacking context */
  /* padding-right: 2px; */
  height: 100%;
  background-color: var(--app-background);
  overflow: hidden;
}

.bt-zoom-buttons {
  position: absolute; /* Absolute positioning relative to .bt-editor-container */
  bottom: 20px; /* From the bottom */
  right: 5px; /* From the right */
  z-index: 1; /* Ensure it's above the editor content */
  width: 75px;
  display: flex;
  justify-content: space-evenly;
}

.bt-zoom-in {
  width: 25px;
  height: 25px;
  background-color: var(--buttons);
  color: var(--text);
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.bt-zoom-in:hover {
  background-color: var(--buttons-hover);
}

.bt-editor-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  height: 50px;
  max-height: 50px;
  background-color: var(--control-bar);
}

.bt-editor-buttons {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.bt-save-button {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: var(--control-bar);
  border: 0;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0 0 0 0;
  align-content: center;
  flex-wrap: wrap;
}

.bt-save-button:hover {
  background-color: var(--buttons-hover);
  border-radius: 5px; /* Circular highlight */
}

.bt-unsaved-dot {
  width: 10px;
  height: 10px;
  background-color: var(--text);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.bt-icon {
  width: 20px;
}
