/* FileBrowser.css */

.file-item-container {
  padding-left: 0.5vw;
}

.file-item-container:hover {
  background-color: var(--buttons-hover);
}

.file-item-selected-container {
  background-color: var(--buttons);
}

.file-item-selected-container:hover {
  background-color: var(--buttons-hover);
}

.file-item {
  list-style-type: none;
  padding: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file-item label {
  cursor: pointer;
  list-style-type: none;
  padding: 3px;
  font-size: 0.9em;
  color: var(--text);
}

.accent-color {
  position: relative;
  margin-left: auto;
  z-index: 10;
  width: 5px;
  height: 100%;
}

.arrow-icon {
  height: 16px;
  width: 16px;
}