{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>File Browser and ACE Editor</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div style="display: flex;">
        
        <div style="flex: 1;">
            <h3>File Browser</h3>
            <h5 id="current-file-text">Selected file:</h5>
            <button id="create-file-btn">Create New File</button>
            <button id="delete-file-btn">Delete Current File</button>
            <ul id="file-list"></ul>
        </div>
        
        <!-- ACE Editor Section -->
        <div style="flex: 1;">
            <h3>ACE Editor</h3>
            <button id="save-file-btn">Save File</button>
            <button id="download-app-btn">Download app</button>
            <div id="editor" style="height: 500px;"></div>
        </div>

    </div>

    <!-- External JavaScript Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="{% static 'js/index_events.js' %}"></script>
    {% endblock %}
</body>
</html>
