.subtree-library-canvas {
  height: 200px;
  width: 100%;
  margin: 10px;
}

.subtree-library-entry {
  display: flex;
  flex-direction: column;
  width: 90%;
  background: inherit;
}

#import-subtree-modal {
  width: 80%;
}

#import-subtree {
  margin: 10px;
}
