{% load static %}
{% load render_bundle from webpack_loader %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'frontend/img/logo.png' %}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="{% static 'logo.png' %}" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <title>Behavior Trees Web editor</title>
    {% render_bundle 'main' 'css' %}
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>

{% block before_end_body %}
    {% render_bundle 'main' 'js' %}
{% endblock %}
