/* FileBrowser.css */

.file-item {
    list-style-type: none;
    padding: 0px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 5px;
    grid-gap: 5px;
    padding-right: 0px;
}

.file-item label {
    cursor: pointer;
    list-style-type: none;
    padding: 8px;
    color: var(--text)
}


.file-item:hover {
    background-color: var(--buttons-hover);
}

.file-item-selected {
    background-color: var(--buttons);
}

.file-item-selected:hover {
    background-color: var(--buttons-hover);
}

  
.editor-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    padding-left: 10px;
    display: flex;
    width: 70px;
    justify-content: space-around;
}

.menu-button {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: var(--buttons-invisible);
    border: 0;
    margin-left: 3px;
    margin-right: 3px;
}

.menu-button:hover {
    background-color: var(--buttons-hover);
    border-radius: 100%;
}

.icon {
    width: 20px;
}

.accent-color {
    position: relative;
    right: 0px;
    z-index: 10;
    width: 5px;
    height: 100%;
}
  