/* FileBrowser.css */

.file-item {
    list-style-type: none;
    padding: 8px;
    cursor: pointer;
}

.file-item:hover {
    background-color: rgba(62, 81, 58, 0.321);
}

.file-item-selected {
    background-color: #cafddc50;
}

.file-item-selected:hover {
    background-color: #cafddc50;
}

  
.editor-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    padding-left: 10px;
    display: flex;
    width: 70px;
    justify-content: space-around;
}

.menu-button {
    width: 25px;
    height: 25px;
    background-color: black;
    border: 0;
}

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.264);
    border-radius: 100%;
}

.icon {
    width: 20px;
}
  