.viewer {
  height: 100%;
  width: 100%;
  background-color: var(--app-background);
}

.terminal {
  height: 50%;
  width: 100%;
  background-color: var(--app-background);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader-terminal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}
