/* InputPort.css */

.tag-output-port {
    width: 10px;
    height: 10px;
    background: black;
}
  
.tag-output-container {
    display: inline-flex;
    align-items: center;
    margin-left: 4px;
    margin-right: -5px;
}
  