.universe-create-name {
  margin-top: 30px;
  width: 75%;
}

#create-new-universe {
  margin-top: 40px;
  height: 30px;
  width: auto;
  padding: 5px;
  color: var(--text);
  background-color: var(--buttons);
  border: none;
  border-radius: 5px;
  user-select: none;

  &:hover {
    background-color: var(--buttons-hover);
  }
}
