/* InputPort.css */

.tag-input-port {
  width: 10px;
  height: 10px;
  background: black;
}

.tag-input-container {
  display: inline-flex;
  align-items: center;
  margin-left: -4px;
  margin-right: 5px;
}
