.tag-layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag-node {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: column;
  cursor: pointer;
}

.tag-output {
  padding-left: 5px;
}

.tag-input {
  padding-right: 5px;
}
