# Generates and uploads an image of Robotics Academy database using the desired tag and branches
name: Generate tagged Bt Studio Database image

on:
  workflow_call:
    inputs:
      tag:
        description: 'Docker Image Tag'
        required: true
        default: test
        type: string
      latest:
        description: 'Upload as latest'
        required: true
        default: false
        type: boolean
      BT:
        description: 'Branch of RoboticsAcademy'
        required: true
        default: main
        type: string
      RI:
        description: 'Branch of Robotics Infrastructure'
        required: true
        default: database
        type: string
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker Image Tag'
        required: true
        default: test
        type: string
      latest:
        description: 'Upload as latest'
        required: true
        default: false
        type: boolean
      BT:
        description: 'Branch of RoboticsAcademy'
        required: true
        default: main
        type: string
      RI:
        description: 'Branch of Robotics Infrastructure'
        required: true
        default: database
        type: string

jobs:
  push_to_registry:
    name: Run Test and Update Docker Image
    runs-on: ubuntu-latest
    env:
      TAG: ${{ github.event.inputs.tag }}
    steps:
      - name: Save the version tag
        run: echo "TAG=${TAG#v}" >> $GITHUB_ENV
      - name: Save the version tag2
        run: echo "${{ github.event.inputs.tag }}"
      - name: Check out the repo # checking our the code at current commit that triggers the workflow
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch-webserver-id }}
          fetch-depth: 1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Bt Studio database
        run: |
          cd scripts/BTDI
          docker build --no-cache -f Dockerfile.database \
            --build-arg IMAGE_TAG=${TAG} \
            --build-arg BT_STUDIO=${{ github.event.inputs.BT }}\
            --build-arg ROBOTICS_INFRASTRUCTURE=${{ github.event.inputs.RI }} \
            -t jderobot/bt-studio-database:${TAG} .
          docker push jderobot/bt-studio-database:${TAG}
      - name: Upload as Latest
        if:  ${{ inputs.latest }} 
        run: |
            docker image tag jderobot/bt-studio-database:${TAG} jderobot/bt-studio-database:latest
            docker push jderobot/bt-studio-database:latest
